footer {
  height: 60px;
  background-color: #8b090b;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.action-buttons {
  background-color: transparent;
  padding: 10px;
  position: sticky;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.action-buttons button{
  border: none;
  background-color: transparent;
}

.action-buttons button img {
  width: 32px;
  height: 32px;
}
