<div class="restaurant-card" (click)="navigateToMenu()">
  <div class="image-container">
    <img [src]="restaurant.logoImage" alt="Imagem do restaurante">
  </div>

  <div class="restaurant-description">
    <h4>{{ restaurant.name }}</h4>
    <div class="aditional-informations">
      <div>
        <div class="group-icon">
          <img src="assets/images/icons/star.svg" alt="" class="small-star">
          <p> {{ restaurant.rating }}</p>
        </div>
        <div class="group-icon">
          <img src="assets/images/icons/clock.svg" alt="" class="small-star">
          <p> {{ restaurant.deliveryTime }}</p>
        </div>
      </div>

      <div>
        <div class="group-icon">
          <img src="assets/images/icons/distance.svg" alt="" class="small-star">
          <p> {{ restaurant.distance }}</p>
        </div>
        <div class="group-icon">
          <img src="assets/images/icons/money.svg" alt="" class="small-star">
          <p> R$ {{ restaurant.deliveryFee }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
