.restaurant-card {
  display: flex;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.image-container img{
  height: 100px !important;
  border-radius: 0px !important;
}

.restaurant-description {
  margin-left: 50px;
}

.aditional-informations {
  display: flex;
  gap: 20px;
}

.group-icon {
  display: flex; /* Usando flexbox para alinhamento */
  align-items: center; /* Alinhamento vertical dos itens */
  justify-content: start;
  gap: 5px;
}



.small-star {
  width: 20px !important; /* ou o tamanho que desejar */
  height: 20px !important; /* ou o tamanho que desejar */
}

.rating p {
  margin: 0; /* Remove margem padrão do parágrafo */
}

.restaurant-card h3 {
  margin-top: 0;
}

.restaurant-card img {
  width: 150px;
  height: 100px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.menu-items h4 {
  margin-top: 20px;
}

.menu-items ul {
  list-style: none;
  padding: 0;
}

.menu-items li {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}

.menu-items .price {
  font-weight: bold;
  color: green;
}

@media screen and (max-width: 768px) {
  .restaurant-card {
    margin-bottom: 100px;
  }

  .restaurant-description {
    margin-left: 10px;
  }

  .restaurant-description h4{
    font-size: small;
  }
  .group-icon p {
    font-size: small;
  }
}
