
.main {
  overflow-y: auto;
  flex: 1;
}

/* Estilo para o container de restaurantes */
.restaurants-container {
  flex: 1; /* Faz com que este conteúdo ocupe o espaço restante */
  height: 80vh;
  padding: 20px;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .restaurants-container {
    padding: 0px;
  }
}

