
.main {
  overflow-y: auto;
  flex: 1;
}

/* Estilo para o container de restaurantes */
.restaurants-container {
  flex: 1; /* Faz com que este conteúdo ocupe o espaço restante */
  height: 80vh;
  padding: 20px;
}

