.header {
  display: flex;
  background-color: #f0f0f0;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;

  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.search-container input {
  padding: 8px;
  width: 20rem;
  height: 2rem;
  border-radius: 6px;
}

.search-container img{
  width: 32px;
  height: 32px;
}

.image-logo {
  display: flex;
  justify-content: center;
}
.image-logo img {
  display: flex;
  height: 100px;
  width: 100px;
  margin-left: 2rem;
}


.address {
  display: flex;
  align-self: self;
}

.user-informations {
  margin-right: 1rem;
}

.user-informations p{
  margin-bottom: 0.4rem;
  font-size: larger;
}

.address b {
  font-size: medium;
}


@media screen and (max-width: 768px) {

  .image-logo img {
    display: none;
  }

  .search-container input {
    padding: 8px;
    width: 6rem;
    height: 2rem;
    border-radius: 6px;
  }
  .user-informations {
    margin-right: 0rem
  }

  .user-informations p{
    font-size: medium;
    margin-bottom: 0;
  }

  .user-address b{
    font-size: small;
  }




}
