.menus{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loja, .item{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 45%;
  padding: 2%;
}

.title h3 {
  font-size: 2rem;
}

.active {
  color:red
}

.disabled{
  color:black;
}

